.App {
  text-align: center;
}
.comm {
  display: flex;
  flex-direction: row;
  margin: 5%;
  justify-content: space-around;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navstl {
  padding-right: 10%;
  padding-left: 10%;
  background-color: #343a40;
}

.logo {
  height: 40px;
  width: 50px;
}
.buttonsize {
  width: 75px;
  height: 40px;
  font-size: 10px !important;
  background-color: #f8f9fa !important;
  color: rgba(0, 0, 0, 0.5) !important;
  font-weight: bold !important;
  margin-left: 5px;
}
.jslogo {
  height: 250px;
  width: 200px;
}
.chtarlowl {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.stlel {
  padding-left: 10px !important;
  padding-right: 10px !important;
  color: white !important;
}
.stlel:hover {
  color: #007bff !important;
}
.frs {
  border: thin;
}
